numpy
scipy
scikit-learn
pandas
astropy
pymangle
tqdm
hydra-core
git+https://github.com/eelregit/pmwd.git
git+https://github.com/maho3/cuboid_remap_jax.git
pypower @ git+https://github.com/cosmodesi/pypower.git
