numpy
scipy
scikit-learn
pandas
astropy
pymangle
tqdm
hydra-core
camb
classy
pylians
mpi4py
git+https://github.com/eelregit/pmwd.git
git+https://github.com/maho3/cuboid_remap_jax.git
git+https://github.com/DeaglanBartlett/symbolic_pofk.git
pypower @ git+https://github.com/cosmodesi/pypower.git
